<template>
	<div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title"></span>
                        <span class="pull-right">
                            <a href="#!/" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
	                <validator name="validation">
					<form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}" successpop="true">
                        <input type="hidden" name="_method" value="{{ method }}" novalidate>
	                	<div class="alert alert-info" 
	                		v-if="adding_success"
	                		>Additional Charges has been added to {{member_name}}'s Cart</div>
	                	<div class="alert alert-warning" transition="fade"
	                		v-if="invalid_entry"
	                		>Please select additional charges to add</div>
						<div class="form-group">
							<label>Additional Access Charge</label>
							<select class="form-control inputForm" @change="checkEntry"
										v-validate:additional-membership="['required']"
										v-model="fields.membership">
								<option value="">Select Membership</option>
								<option v-for="membership in memberships" 
									value="{{ membership.id }}">{{membership.name}} @ ${{membership.fee}}</option>
							</select>
						</div>

						<div class="form-group">
							<label>Additional Amenities Charge</label>
							<select class="form-control inputForm" @change="checkEntry"
										v-validate:additional-amenity="['required']"
										v-model="fields.amenity">
								<option value="">Select Amenity</option>
								<option v-for="amenity in amenities" 
									value="{{ amenity.id }}">{{amenity.name}} @ ${{amenity.fee}}</option>
							</select>
						</div>
						
						<br>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block" v-if="validation_valid">
								<span class="clearfix">
									<span class="pull-left">Submit+</span>
									<span class="pull-right"><i class="icon-check"></i></span>
								</span>
							</button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!validation_valid" 
                                                @click="invalidSubmit"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">Submit-</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
						</div>
	                </form>
					</validator>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import formValidator from '../vue-mixins/formValidator.js'

	export default {
        mixins: [formValidator],
		data() {
			return {
				title: 'Additional Charges to ',
				action: '/cart/additional',
				method: 'POST',
				member_id: 0,
				member_name: '',
                memberships: [],
                amenities: [],
                fields: {
                	user_id: 0,
                	membership: '',
                	amenity: ''
                },
                adding_success: false,
                invalid_entry: false,
                validation_valid: false,
			};
		},

		ready() {
			console.log('AddCharges vue component ready.');

			this.title += this.$route.params.name;
			this.member_name = this.$route.params.name;
			this.fields.user_id = this.$route.params.id;

			this.$http.get('/fetch-charges', function (response) {
				// console.log(response);
				var memberships = response.memberships;
				for (var i=0; i<memberships.length; i++) {
					if (memberships[i].id === 3 || memberships[i].id === 4 || memberships[i].id == 5) {
	                    this.memberships.push({
	                        id: memberships[i].id,
	                        name: memberships[i].name,
	                        fee: memberships[i].fee,
	                    });
					}
				}

				var amenities = response.amenities;
				for (var i=0; i<amenities.length; i++) {
	                    this.amenities.push({
	                        id: amenities[i].id,
	                        name: amenities[i].name,
	                        fee: amenities[i].fee,
	                    });
				}

            }.bind(this));
		},

		methods: {
			invalidSubmit() {
				this.invalid_entry = true;
				window.setTimeout( function() {
	                this.invalid_entry = false;
	            }.bind(this), 5000);
			},

			checkEntry() {
				var memb = this.fields.membership;
				var amen = this.fields.amenity;

				if (memb || amen)
					this.validation_valid = true;
				else
					this.validation_valid = false;
			}
		},

	}	
</script>
