<template>
	<div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title"></span>
                        <span class="pull-right">
                            <a href="#!/" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
					<validator name="validation">
					<form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                        <input type="hidden" name="_method" value="{{ method }}" novalidate>

						<div class="form-group">
							<label>Title*</label>
							<input type="text" class="form-control inputForm" placeholder="Message Title" 
										v-validate:title="['required']"
										v-model="fields.title">
						</div>

						<div class="form-group">
							<label>Content*</label>
							<textarea class="form-control inputForm"  placeholder="Message Content"
										v-validate:content="['required']"
										v-model="fields.content"></textarea>
						</div>

						<div class="form-group">
							<label>Date Post</label>
							<input type="date" class="form-control inputForm"
										v-model="fields.date_posted">
						</div>

						<div class="form-group">
							<label>Pin Post</label>
							<select class="form-control inputForm" 
									v-model="fields.pinned">
								<option v-for="pin in pinned" 
									value="{{ pin }}"
									:selected="pin == fields.pinned ? true : false">{{ pin }}</option>
							</select>
						</div>

						<br>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
								<span class="clearfix">
									<span class="pull-left">Submit</span>
									<span class="pull-right"><i class="icon-check"></i></span>
								</span>
							</button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="invalidFormSubmit()"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">Submit</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
						</div>

					</form>
					</validator>
                </div>
            </div>
        </div>

        <router-view></router-view>
    </div>
</template>

<script>
	import formValidator from '../vue-mixins/formValidator.js'

	export default {
		mixins: [formValidator],
		data() {
			return {
				title: 'New Message',
				action: '/messages/store',
				method: 'POST',
				fields: {
					title: '',
					content: '',
					date_posted: '',
					pinned: 'no'
				},
				pinned: ['yes', 'no'],
			};
		},

		ready() {
			if (this.$route.params.id) {
				this.title = 'Edit Message';
                var id  = this.$route.params.id;

                // Change form action attribute with update
                this.action = 'messages/update/'+id;

				this.$http.get('messages/edit/'+id, function (response) {
	                    // console.log(response);
                        this.fields = {
                            title: response.title,
                            content: response.content,
                            date_posted: response.date_posted,
                            pinned: response.pinned
                        }
	                }.bind(this));
			}
		}
	}
</script>