<template>
	<div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title"></span>
                        <span class="pull-right">
                            <a href="#!/" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
					<validator name="validation">
					<form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                        <input type="hidden" name="_method" value="{{ method }}" novalidate>

						<div class="form-group">
							<label>Plan Name <span class="text-red">*</span></label>
							<input type="text" class="form-control inputForm" placeholder="Membership Plan Name" 
										v-validate:plan-name="['required']"
										v-model="fields.name">
						</div>

						<div class="form-group">
							<label>Description <span class="text-red">*</span></label>
							<textarea class="form-control inputForm"  placeholder="Membership Plan Description"
										v-validate:plan-description="['required']"
										v-model="fields.description"></textarea>
						</div>

						<div class="form-group">
							<label>Fee <span class="text-red">*</span></label>
							<input type="number" class="form-control inputForm" step="0.01" 
										v-validate:plan-fee="['required']"
										v-model="fields.fee">
						</div>

						<br>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
								<span class="clearfix">
									<span class="pull-left">Submit</span>
									<span class="pull-right"><i class="icon-check"></i></span>
								</span>
							</button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="requiredField"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">Submit</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
						</div>

					</form>
					</validator>
                </div>
            </div>
        </div>
    </div>


    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>
    
    <router-view></router-view>

</template>

<script>
	import formValidator from '../vue-mixins/formValidator.js'

	export default {
		mixins: [formValidator],
		data() {
			return {
				title: 'New Membership Plan',
				action: '/membership/store',
				method: 'POST',
				fields: {
					name: '',
					description: '',
					fee: 0,
				},

				error: {
					header: '',
					message: '',
					path: '',
				},
			};
		},

		ready() {
			this.error.path = this.$route.path;

			if (this.$route.params.id) {
				this.title = 'Edit Membership Plan';
                var id  = this.$route.params.id;

                // Change form action attribute with update
                this.action = 'membership/update/'+id;

				this.$http.get('membership/edit/'+id, function (response) {
	                    // console.log(response);
                        this.fields = {
                            name: response.name,
                            description: response.description,
                            fee: response.fee
                        }

                        this.$root.loading = false;
	                }.bind(this));
			}
			else {
				this.$root.loading = false;
			}
		},

        watch: {
            'fields.fee': function(newVal, oldVal) {
                if (newVal < 0) {
                    this.showPopup('/error', 'ERROR AMOUNT', 'Membership Fee can\'t be a negative value.');
                    this.fields.fee = 0;
                }
            }
		}
	}
</script>