<template>

    <div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title"></span>
                        <span class="pull-right">
                            <a href="#!/" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control"
                                v-model="quantity">
                                <!-- :value="quantity" 
                                @input="onInput(quantity, 'quantity', $event)" -->
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">

                        <div class="form-group">
                            <label>Total Amount</label>
                            <span class="form-control text-right">{{ totalAmount }}</span>
                        </div>

                    </div>

                    <div class="col-sm-12 col-lg-12">                    
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" @click="addToCart">
                                <span class="clearfix">
                                    <span class="pull-left">Add to Cart</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <router-view></router-view>
</template>

<script>
    import formValidator from '../vue-mixins/formValidator.js'

    export default {
        mixins: [formValidator],
        data() {
            return {
                product_id: null,
                title: '',
                quantity: 1,
                total: 0,

                error: {
                    header: '',
                    message: '',
                    path: '',
                },
            };
        },

        ready() {
            console.log('AddToCart component initialized.');
            this.title = this.$route.params.name + ' @ $' + this.$route.params.price;
            this.error.path = this.$route.path;
        },

        methods: {
            addToCart() {
                var id  = this.$route.params.id;
                var data = {
                        quantity: this.quantity,
                        price: this.$route.params.price,
                        total: this.total,
                    }

                this.$http.post('/cart/add/'+id, data, function (response) {
                    console.log(response);
                    if (!response.error) {
                        this.$root.cartItemCount = response.cartItemCount;
                        this.$route.router.go('/success/Added '+this.$route.params.name+' to cart!');
                    }
                    }.bind(this));
            },
        },

        computed: {
            totalAmount() {
                if (this.quantity < 1) {
                    this.showPopup('/error', 'ERROR QUANTITY', 'Quantity can\'t be zero (0) or negative value.');
                }

                this.total = (this.quantity * this.$route.params.price);
                return '$ ' + this.total.toFixed(2);
            },
        },

        watch: {
            'quantity': function(newVal, oldVal) {
                if (newVal <= 0) {
                    this.quantity = 1;
                }
            }
        }
    }
</script>