<template>
    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white">Deleting...</div>
    </div>
</template>

<script>
    import categoriesMixins from '../vue-mixins/categoriesMixins.js'

    export default {
        mixins: [categoriesMixins],

        ready() {
            this.$root.loading = true;
            this.$http.get('/shop/dashboard/category/remove/'+this.$route.params.id, function (response) {
                    window.location.href = '#!/categories/list';
                }.bind(this));
        },

        methods: {
        },
    }
</script>
