<template>
	<div class="mask" transition="fade">
		<div class="centered-form-container">
			<div class="panel panel-default centered-panel notification-modal">
				<div class="panel-heading">
					<span class="clearfix">
						<span class="pull-left" v-html="header"></span>
						<span class="pull-right">
							<a href="#" class="close-button no-close" @click="closeNotification"><i class="icon-close" aria-hidden="false"></i></a>
						</span>
					</span>
				</div>
				<div class="panel-body">
					<p v-html="message"></p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				header: 'Header',
				message: 'Message',
			};
		},

		created() {
			this.header = this.$parent.error.header;
			this.message = this.$parent.error.message;
		},

		methods: {
			closeNotification(event) {
				event.preventDefault();
				// Redirect back to Previous Route before an Error shows
				this.$route.router.go(window.history.back())
			}
		}
	}
</script>