<template>

	<div class="mask" transition="fade" v-show="!$root.loading">
		<div class="centered-form-container">
			<div class="panel panel-default centered-panel">
				<div class="panel-heading">
					<span class="clearfix">
						<span class="pull-left">{{ title }}</span>
						<span class="pull-right">
							<a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
						</span>
					</span>
				</div>
				<div class="panel-body">
					<validator name="validation">
					<form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                        <input type="hidden" name="_method" value="{{ method }}">

						<div class="form-group">
							<label>Location Name <span class="text-red">*</span></label>
							<input type="text" class="form-control inputForm" 
								v-validate:location-name="['required']"
								v-model="fields.location_name">
						</div>
						<div class="form-group">
							<label>Address <span class="text-red">*</span></label>
							<input type="text" class="form-control inputForm" 
								v-validate:address="['required']"
								v-model="fields.address">
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
								<span class="clearfix">
									<span class="pull-left">{{ button }}</span>
									<span class="pull-right"><i class="icon-check"></i></span>
								</span>
							</button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="requiredField"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}</span>
                                    <span class="pull-right"><i class="icon-exclamation"></i></span>
                                </span>
                            </button>
						</div>
					</form>
					</validator>
				</div>
			</div>
		</div>
	</div>

    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>

	<router-view></router-view>
</template>

<script>
	import formValidator from '../vue-mixins/formValidator.js'

	export default {
	    mixins: [formValidator],
		data() {
			return {
                action: '/location/store',
                title: 'Adding New Location',
                method: 'POST',
                button: 'Submit',
                fields: {
                    location_name: '',
                    address: '',
                },
                error: {
                	header: 'Error Header',
                	message: 'Error message in a paragraph form.'
                }
			};
		},

		ready() {
			console.log('LocationForm component initialized.');

			if ( this.$route.params.id ) {
                var id  = this.$route.params.id;

                // Change form action attribute with update
                this.action = 'location/update/'+id;

				this.$http.get('location/edit/'+id, function (response) {
	                    // console.log(response);
                        this.fields = {
                            location_name: response.location_name,
                            address: response.address,
                        }

                        this.title = 'Edit '+response.location_name;
                        this.button = 'Update';

                        this.$root.loading = false;
	                }.bind(this));
			}
			else {
				this.$root.loading = false;
			}
		},
	}
</script>
