<template>
    <div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left">{{ title }}</span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <validator name="validation">
                    <form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}" novalidate>
                        <input type="hidden" name="_method" value="{{ method }}">

                        <div class="form-group">
                            <label>Official Receipt Number<span class="text-red">*</span></label>
                            <input type="text" class="form-control inputForm" 
                                        v-validate:or-number="['required']" 
                                        v-model="fields.or_number" value="">
                        </div>
                        <div class="form-group">
                            <label>Payment Date<span class="text-red">*</span></label>
                            <input type="date" class="form-control inputForm" 
                                        v-validate:or-date="['required']" 
                                        v-model="fields.or_date" value="">
                        </div>
                        <div class="form-group">
                            <label>Amount Paid<span class="text-red">*</span></label>
                            <input type="number" class="form-control inputForm" 
                                        v-validate:amount="['required']" 
                                        v-model="fields.amount" value="">
                        </div>
                        <div class="form-group">
                            <label>Cash Tendered<span class="text-red">*</span></label>
                            <input type="number" class="form-control inputForm" 
                                        v-validate:cash="['required']" 
                                        v-model="fields.cash" value="">
                        </div>
                        <div class="form-group">
                            <label>Change<span class="text-red">*</span></label>
                            <input type="number" class="form-control inputForm" 
                                        v-validate:change="['required']" 
                                        v-model="fields.change" value="">
                        </div>
                        <div class="form-group">
                            <label>Discount</label>
                            <input type="number" class="form-control inputForm" 
                                        v-model="fields.discount" value="">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}+</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="invalidFormEntry"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}-</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                    </validator>
                </div>
            </div>
        </div>
    </div>

    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>

    <router-view></router-view>
</template>

<script>
    import formValidator from '../vue-mixins/formValidator.js'

    export default {
        mixins: [formValidator],
        data() {
            return {
                action: '/cart/payment',
                title: 'Pay Cash',
                method: 'POST',
                fields: {
                    or_number: '',
                    or_date: '',
                    cash: 0,
                    amount: 0,
                    change: 0,
                    discount: 0,
                },
                button: 'Submit',
                error: {
                    header: '',
                    message: '',
                },
                loader: true,
            };
        },

        ready() {
            console.log('PayCashComponent initialized.');
            this.title = 'Over-the-Counter Payment';
            this.button = 'Process';

            // Hide initialize loading
            this.$root.loading = false;

            // Change form action attribute with update
            this.action = '/cart/payment/'+this.$route.params.id;
        },

        watch: {
            'fields.amount': function(newVal, oldVal) {
                console.log('get ')
                this.fields.change = (this.fields.cash - newVal);
            },
            'fields.cash': function(newVal, oldVal) {
                this.fields.change = (newVal - this.fields.amount);
            }
        },

        methods: {
            invalidFormEntry() {
                this.showPopup('/required', 'Invalid Entry', 'Please complete all required (*) fields');
            },
        },
    }
</script>