<template>
    <div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left">{{ title }}</span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <validator name="validation">
                    <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" 
                                    v-ajax action="{{ action }}" novalidate>
                        <input type="hidden" name="_method" value="{{ method }}">

                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label>Choose Category <span class="text-red">*</span></label>
                                <select class="form-control inputForm" 
                                                v-validate:product-category="['required']" 
                                                v-model="fields.category_id"
                                                >
                                    <option value="">Select Product Category</option>
                                    <option v-for="category in categories" 
                                        value="{{ category.id }}">{{ category.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" class="form-control inputForm" 
                                            v-el:image-input id="imageInput" name="imageInput"
                                            @change="previewThumbnail"
                                            >
                                <div class="image-container">
                                    <img v-bind:src="image" alt="" class="productImg">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <!-- <div class="errors">
                                <p v-if="$validation.productname.required">required username</p>
                            </div> -->
                            <div class="form-group">
                                <label>Product Name <span class="text-red">*</span></label>
                                <input type="text" class="form-control inputForm" 
                                            v-validate:product-name="['required']" 
                                            v-model="fields.product_name" value="">
                            </div>
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text" class="form-control inputForm" v-model="fields.sku" value="">
                            </div>
                            <div class="form-group">
                                <label>Price <span class="text-red">*</span></label>
                                <input type="text" class="form-control inputForm" 
                                            v-validate:product-price="['required']" 
                                            v-model="fields.price" value="">
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
                                    <span class="clearfix">
                                        <span class="pull-left">{{ button }}</span>
                                        <span class="pull-right"><i class="icon-check"></i></span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary btn-block" 
                                                    v-if="!$validation.valid" 
                                                    @click="requiredField"
                                                    >
                                    <span class="clearfix">
                                        <span class="pull-left">{{ button }}</span>
                                        <span class="pull-right"><i class="icon-check"></i></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    </validator>
                </div>
            </div>
        </div>
    </div>

    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>

    <router-view></router-view>
</template>

<script>
    import formValidator from '../vue-mixins/formValidator.js'

    export default {
        mixins: [formValidator],
        data() {
            return {
                action: '/shop/dashboard/product/add',
                title: 'Adding Item',
                method: 'POST',
                fields: {
                    product_name: '',
                    sku: '',
                    price: '',
                    category_id: '',
                    // image: '',
                },
                image: 'http://placehold.it/500x500',
                categories: [],
                button: 'Submit',
                loader: true,
                error: {
                    header: '',
                    message: '',
                },
            };
        },

        ready() {
            console.log('ProductForm component initialized.');

            this.$http.get('/shop/dashboard/fetch-categories' , function (response) {
                console.log(response);
                    for (var i=0; i<response.length; i++) {
                        this.categories.push({
                            id: response[i].id,
                            name: response[i].category_name,
                        });
                    }

                    if ( !this.$route.params.id )
                        this.$root.loading = false;
                }.bind(this));

            if ( this.$route.params.id ) {
                this.title = 'Edit Item';
                this.button = 'Update';
                var id  = this.$route.params.id;

                // Change form action attribute with update
                this.action = '/shop/dashboard/product/update/'+id;

                this.$http.get('/shop/dashboard/product/edit/'+id, function (response) {
                        // console.log(response);
                        this.fields = {
                            product_name: response.product_name,
                            sku: response.sku,
                            price: response.price,
                            category_id: response.category_id,
                        }

                        if (response.image)
                            this.image = response.image;

                        this.$root.loading = false;
                    }.bind(this));
            }

        },

        // events: {
        //     onSubmitWithFile: function() {
        //         console.log('Running event');
        //         return this.submitWithFile();
        //     }
        // },

        methods: {
            previewThumbnail() {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var vm = this;

                    reader.onload = function(e) {
                        vm.image = e.target.result;
                    }
                    // console.log(vm.fields.image);
                    reader.readAsDataURL(input.files[0]);
                }
            },
        }
    }
</script>