<script>
    import ReservationViewTemplate from '../vue-templates/ReservationViewTemplate.html'

    export default {
        template: ReservationViewTemplate,

        data() {
            return {
                title: '',
                subtitle: '',
                description: '',
                status: '',
                requestee: '',
                owned: '',
                link: '',
                admin: 0,
            };
        },

        ready() {
            this.$http.get('/rooms/reservation/edit/'+this.$route.params.id, function (response) {
                    this.populateFields(response);
                }.bind(this));
        },

        methods: {
            populateFields( data ) {
                this.title = data.title;
                this.subtitle = data.date_time;
                this.description = (data.note) ? data.note : '<i class="text-sm text-gray">No additional notes added.</i>';
                this.requestee = data.user.username;
                this.status = (data.status_approved === 'Approved') 
                                        ? '<span class="text-green">'+data.status_approved+'</span>'
                                        : '<span class="text-red">'+data.status_approved+'</span>';
                this.owned = (data.status_approved === 'Approved') ? 'Reserved to' : 'Requested by';
                this.link = '/rooms/reservation/request/reserve/'+data.id;

                this.admin = (window.userAccess == 'admin') ? true : false;
                this.$root.hideLoader();
            },
        },
    }
</script>
