<template>
	<div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading no-border no-padding-bottom">
                    <h4>
                    	<i class="icon-check text-success"></i> {{ title }}
                    </h4>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
	export default {
		data() {
			return {
				title: '',
			};
		},
		
		ready() {
			var title = (this.$route.params.m == 'undefined') ? 'Success!' : this.$route.params.m;
			this.title = title;
			window.setTimeout( function() {
	                this.$router.go('/');
	            }.bind(this), 2000);
		}
	}
</script>