<template>

	<div class="mask" transition="fade" v-show="!$root.loading">
		<div class="centered-form-container">
			<div class="panel panel-default centered-panel">
				<div class="panel-heading">
					<span class="clearfix">
						<span class="pull-left">{{ title }}</span>
						<span class="pull-right">
							<a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
						</span>
					</span>
				</div>
				<div class="panel-body">
					<validator name="validation">
					<form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                        <input type="hidden" name="_method" value="{{ method }}" novalidate>

						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>Choose Member Location <span class="text-red">*</span></label>
								<select class="form-control inputForm" 
											v-validate:member-location="['required']"
											v-model="fields.location">
									<option value="">Select Member Location</option>
									<option v-for="location in locations" 
										value="{{ location.id }}">{{ location.name }}</option>
								</select>
							</div>

							<div class="form-group">
								<label>Choose Membership <span class="text-red">*</span></label>
								<select class="form-control inputForm" 
											v-validate:client-membership="['required']"
											v-model="fields.membership">
									<option value="">Select Membership</option>
									<option v-for="membership in memberships" 
										value="{{ membership.id }}">{{ membership.name }} @ ${{ membership.fee }}</option>
								</select>
							</div>
							<div class="form-group">
								<label>Username <span class="text-red">*</span></label>
								<input type="text" class="form-control inputForm" 
											v-validate:client-username="['required']"
											v-model="fields.username" value="">
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<div class="form-group">
								<label>First Name <span class="text-red">*</span></label>
								<input type="text" class="form-control inputForm" 
											v-validate:client-firstname="['required']" 
											v-model="fields.first_name" value="">
							</div>
							<div class="form-group">
								<label>Last Name <span class="text-red">*</span></label>
								<input type="text" class="form-control inputForm" 
											v-validate:client-lastname="['required']"
											v-model="fields.last_name" value="">
							</div>
							<div class="form-group">
								<label>Email <span class="text-red">*</span></label>
								<input type="text" class="form-control inputForm" 
											v-validate:client-email="['required', 'email']"
											v-model="fields.email" value="">
							</div>
						</div>
						
						<div class="col-sm-12">
							<br>

							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
									<span class="clearfix">
										<span class="pull-left">Submit</span>
										<span class="pull-right"><i class="icon-check"></i></span>
									</span>
								</button>
	                            <button type="button" class="btn btn-primary btn-block" 
	                                                v-if="!$validation.valid" 
	                                                @click="requiredField"
	                                                >
	                                <span class="clearfix">
	                                    <span class="pull-left">Submit</span>
	                                    <span class="pull-right"><i class="icon-check"></i></span>
	                                </span>
	                            </button>
							</div>
						</div>
					</form>
					</validator>
				</div>
			</div>
		</div>
	</div>

    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>

	<router-view></router-view>
</template>

<script>
    import formValidator from '../vue-mixins/formValidator.js'

	export default {
        mixins: [formValidator],
		data() {
			return {
                action: '/clients/store',
                title: 'Adding New Member',
                method: 'POST',
                fields: {
                    first_name: '',
                    last_name: '',
                    username: '',
                    email: '',
                    location: '',
                    membership: '',
                },
                locations: [],
                memberships: [],

                loader: true,
                error: {
                	header: '',
                	message: '',
                },
			};
		},

		created() {
		},

		ready() {
			console.log('UserForm component initialized.');

			this.$http.get('/fetch-locations', function (response) {
				console.log(response);
					var locations = response.locations;
					for (var i=0; i<locations.length; i++) {
	                    this.locations.push({
	                        id: locations[i].id,
	                        name: locations[i].location_name,
	                    });
					}

					var memberships = response.memberships;
					for (var i=0; i<memberships.length; i++) {
	                    this.memberships.push({
	                        id: memberships[i].id,
	                        name: memberships[i].name,
	                        fee: memberships[i].fee,
	                    });
					}

					if ( !this.$route.params.id )
						this.$root.loading = false;

                }.bind(this));

			if ( this.$route.params.id ) {
                var id  = this.$route.params.id;

                // Change form action attribute with update
                this.action = '/clients/update/'+id;

				this.$http.get('/clients/edit/'+id, function (response) {
	                    // console.log(response);
                        this.fields = {
                            first_name: response.first_name,
                            last_name: response.last_name,
                            username: response.username,
                            email: response.email,
                            
                            location: response.location_user.location_id,
                            membership: response.user_membership.membership_id,
                        }

                        this.title = 'Edit '+response.first_name+'\'s Account';
						this.$root.loading = false;
	                }.bind(this));
			}
		},

	}
</script>
