<template>
    <div class="panel panel-flat" v-for="attribute in attributes" transition="fade">
        <div class="panel-heading">
            <h5 class="panel-title">
                {{ attribute.title }}
                <div class="pull-right">
                    <ul class="icons-list">
                        <li><a data-action="close" @click="removeReport( attribute.id )"></a></li>
                    </ul>
                </div>
            </h5>
            <p class="report-subtitle">{{ attribute.sub_title }}</p>
        </div>

        <div class="container-fluid">
            <div class="row text-center">
                <iframe v-bind:src="attribute.params" v-if="attribute.params" frameborder="0" class="col-sm-12" style="height: 419px;"></iframe>
            </div>
        </div>
    </div>
</template>