<div class="row">

        <div class="alert alert-info" v-if="notify" transition="fade" transition-mode="out-in">
            {{notifyMsg}}
        </div>

        <div class="panel panel-flat" v-if="add_report">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Create Your Report
                    <div class="pull-right">
                        <ul class="icons-list">
                            <li><a data-action="close" @click="closeReportForm"></a></li>
                        </ul>
                    </div>
                </h5>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>Select a Report</label>
                    <select v-model="report" @change="selectedReport" class="form-control">
                        <option value="0">Select a Report</option>
                        <option v-for="option in report_options" v-bind:value="option.report_sn">
                            {{ option.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group" v-for="input in fields">
                    <label v-if="input.type == 'select'
                                    || input.type == 'month'
                                    || input.type == 'date'">Select a {{ input.label }}</label>
                    <label v-if="input.type == 'text'">Enter a {{ input.label }}</label>

                    <input type="text" name="{{ input.name }}" class="form-control"
                                    v-if="input.type == 'text' && (input.name !== 'reportyear' && input.name !== 'groupname')"
                                    v-model="input.value"
                                    >

                    <select class="form-control facil"
                                    v-if="input.type == 'select' && (input.name == 'facility' || input.name !== 'numyears')"
                                    v-model="input.value"
                                    @change="selectedFacility"
                                    >
                        <option value="">Select Facility</option>
                        <option v-for="option in facility_options" v-bind:value="option.facility_sn">
                            {{ option.facility_name }}
                        </option>
                    </select>

                    <select class="form-control facil"
                                    v-if="input.name == 'groupname'"
                                    v-model="input.value"
                                    >
                        <option value="">Select Group</option>
                        <option v-for="option in group_options" v-bind:value="option.group_name">
                            {{ option.group_name }}
                        </option>
                    </select>

                    <select class="form-control"
                                    v-if="input.type == 'month'"
                                    v-model="input.value"
                                    >
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>

                    <input type="date" class="form-control"
                                    v-if="input.type == 'date'"
                                    name="{{ input.name }}" v-model="input.value">

                    <input type="number" class="form-control"
                                    v-if="(input.type == 'select' && input.name == 'numyears')
                                                    || (input.type == 'text' && input.name == 'reportyear')
                                                    || (input.type == 'select' && input.name == 'nummonths')"
                                    name="{{ input.name }}" v-model="input.value"
                                    >

                    <label v-if="input.type == 'checkbox'">
                        <input type="checkbox" class="control-primary"
                                    v-model="input.value">{{ input.label }}
                    </label>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="control-primary" v-model="dashboard">
                                    Add to Dashboard
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success" @click="saveReport"><i class="icon-file-check2 position-left"></i> Save Report</button>

            </div>
        </div>

</div>

<div class="row">

    <div class="alert alert-info" v-if="empty_attributes && !add_report">
        No Reports Added
    </div>

        <div class="panel panel-flat" v-for="attribute in attributes" transition="fade">
            <div class="panel-heading">
                <h5 class="panel-title">
                    {{ attribute.title }}
                    <div class="pull-right">
                        <ul class="icons-list">
                            <li><a data-action="close" @click="removeReport( attribute.id )"></a></li>
                        </ul>
                    </div>
                </h5>
                <p v-html="attribute.sub_title" class="report-subtitle"></p>
            </div>

            <div class="container-fluid">
                <div class="row text-center">
                    <iframe id="iframe_{{ attribute.id }}" frameborder="0" class="col-sm-12" height="{{ ifHeight }}" width="100%"
                                    data-id="iframe_{{ attribute.id }}"
                                    v-bind:src="attribute.params"
                                    v-if="attribute.params"
                                    ></iframe>
                </div>
            </div>
        </div>

</div>