@import url("fonts/Gotham.css");


body {
	font-family: "Century Gothic", Tahoma, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Century Gothic", Tahoma, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
}

.spacer {
	display: block;
	clear: both;
	margin-bottom: 40px;
}

/*
 *	MAIN Page
 */
.jumbotron {
	background: #eeeeee url(../assets/images/jumbotron_bg.png) top center repeat-x;
}
.jumbo-highlight{
	font-style: italic; 
	font-weight: 400; 
	color: #357ebd;
}
.content-2cols.row,
#platform, 
#features,
#subscribe {
	font-size: 13px;
	line-height: 1.7;
}
#platform h2,
#features h2,
#subscribe h2 {
	margin-bottom: 20px;
}
#platform h2 i,
#features h2 i,
#subscribe h2 i {
	font-size: 24px;
}
#platform h2 i {
	color: green;
}
#features h2 i {
	color: orange;
}
#subscribe h2 i {
	color: red;
}
.content-3cols p a[role="button"] {
	margin: 20px auto;
	display: block;
	width: 103px;
}
.content-2cols h2 {
	margin-top: 0px;
}

#features ul.features {
	padding-left: 20px;
	margin-bottom: 20px;
}
#features ul.features li {
	padding-bottom: 5px;
}
#features ul.features li i.glyphicon{
	font-size: 13px;
}


#subscribe ul {
	margin-top: 30px;
	padding-left: 0px;
	width: auto;
}
#subscribe ul li {
	width: 100%;
}
a[role="button"].btn-subcribe {
	display: block;
	width: 300px;
	margin: 5px auto 5px;
}
a[role="button"].btn-subcribe.btn-warning {
	margin-top: 30px;
	width: 300px;
}

/*
 * NIVO SLIDER
 */
.mid-content-wrapper {
	background: #ffffff url(../assets/images/main_bg.jpg) top center repeat-x;
}

.slider-wrapper {
	width: 80%;
	margin: auto;
}
.slider-wrapper .nivoSlider {
	height: 400px;
}
.slider-wrapper h2 {
	font-family: Gotham-Medium, "Century Gothic", Tahoma, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
}




/*
 *	FORM ELEMENTSS
 *	{@input}
 *	{@textarea}
 *	{@select}
 *	{@button}
 */
.form-control, 
.btn {
	border-radius: 0px;
}
.navbar-form {
	padding-top: 3px;

	width: 380px;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-form .form-group {
	padding-right: 5px;
	width: 150px;
}



/*
 *	FOOTER
 *	footer-menu {id}
 *
 */
#copy {
	float: left;
	text-align: left;
}
#footer-menu {
	float: right;
	text-align: right;
}




@media (max-width: 979px) {
 	#copy, 
 	#footer-menu {
		float: none;
 		text-align: center;
 	}
}
@media (max-width: 767px) {
	.navbar-form {
		padding-top: 10px;
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.navbar-form .form-group {
		width: auto;
	}

	.content-2cols h2 {
		margin-top: 20px;
	}
}

@media (max-width: 479px) {
	#subscribe ul .btn-subcribe {
		font-size: 15px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
	a[role="button"].btn-subcribe {
		width: 100%;
		margin: 5px 0px 5px;
	}
}