@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900,200italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,800,900,700,600,200,100,200italic,100italic,400italic,600italic);

@import url('fonts/Gotham.css');
/*@import url('fonts/proxima-nova.css');*/


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.clear { clear: both; display: block; height: 5px; }
.spacer { display: block; clear: both; margin-bottom: 30px; }
.top-spacer { margin-top: 101px; }
.content-spacer { height: 80px; }

.main_body { background-color: #17a2ce; }
.light_body { background-color: #e6e7e8; }
.plain_body { background-color: #fff;}
.dark_body { background-color: #333; }

.privacy-terms {
	padding: 50px 10% 100px;
}
.privacy-terms h2 {
	padding-bottom: 15px;
	font-size: 24px;
	text-align: center;
}
.privacy-terms h3 {
	padding-top: 25px;
	font-size: 20px;
}
.privacy-terms ul,
.privacy-terms ol {
	padding-bottom: 20px;
}
.privacy-terms p {
	text-indent: 25px;
}
.privacy-terms p::first-child {
}

.cyan_bg { background-color: #12b6df; }
.wall_bg {
	/*background-image: url('../../assets/images/wall.jpg');*/
    width: 110%;
    margin-left:-5%;
    margin-right: -5%;
    /*-webkit-box-shadow: inset 0px 5px 10px 1px #999;
    box-shadow: inset 0px 5px 10px 1px #999;*/
}
.wall_bg_shadow {
	/*-webkit-box-shadow: -5px 0px 15px 1px #888;
	box-shadow: -5px 0px 15px 1px #888;*/
}

.modal-footer .btn {
	border-radius: 4px;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
}

.text-cyan { color: #12b6df; }
.text-orange { color: #ff984c; }
.text-red { color: #ff5c5c; }
.text-green { color: #7ac143; }
.text-white { color: #ffffff; }

a.text-cyan:hover { color: #12b6df; text-decoration: underline; }
a.text-orange:hover { color: #ff984c; text-decoration: underline; }
a.text-red:hover { color: #ff5c5c; text-decoration: underline; }
a.text-green:hover { color: #7ac143; text-decoration: underline; }
a.text-white:hover { color: #ffffff; text-decoration: underline; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

span.text-upper {
	text-transform: uppercase;
}
span.text-lower {
	text-transform: lowercase;
}



/* NAVIGATION BAR */
.navbar-toggle {
	border: 3px solid #fff;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-collapse.in, 
.navbar-collapse.collapsing {
	background-color: #00809d;
}
.navbar-collapse.in.relative,
.navbar-collapse.collapsing.relative {
	position: inherit;
}
.navbar-collapse.in .nav > li > a, 
.navbar-collapse.collapsing .nav > li > a {
	padding: 5px 5px;
	margin: 10px 10px;
}
.navbar-collapse.in .navbar-nav > li > a:hover,
.navbar-collapse.collapsing .navbar-nav > li > a:hover {
	border-bottom: none;
	color: #12b6df;
}
.navbar-collapse.in .nav > li.active > a:hover
.navbar-collapse.collapsing .nav > li.active > a:hover {
	border-bottom: 4px solid #fff !important;
}
.navbar-collapse.in.relative #login-block,
.navbar-collapse.collapsing.relative #login-block {
	top: 319px;
}
.navbar-collapse.in.relative #user-login-li.active a,
.navbar-collapse.collapsing.relative #user-login-li.active a  {
	background-color: #12b6df;
	border-bottom: 4px solid #00809d;
	margin-right: 25px !important;
}
.navbar-collapse.in.relative #user-login-li.active a:hover,
.navbar-collapse.collapsing.relative #user-login-li.active a:hover {
	color: #fff;
}
.navbar-collapse.in.relative #login-block .form-input,
.navbar-collapse.collapsing.relative #login-block .form-input {
	background-color: #12b6df;
}



.navbar-top {
	top: 0;
	border-width: 0 0 1px;
	border-radius: 0;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar {
	background: #0eadd5 url('../../assets/images/navigation-bg.png') repeat-x;
	height: 101px;
}
.navbar-brand {
	margin-bottom: 15px;
}
.navbar-nav a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 600;

	text-transform: uppercase;
	color: #fff;
}
.navbar-nav > li > a:hover {
	background-color: transparent;
	color: #00809d;
	border-bottom: 4px solid #00809d;
}
.navbar-nav > li > a {
	margin-top: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.nav > li > a {
	padding: 10px 5px;
	margin: 30px 10px;
}
.nav > li.active > a {
	border-bottom: 4px solid #fff;
}

.navbar-collapse.relative {
	position: relative;
}
#user-login-li a {
	padding: 10px 15px;
}
#user-login-li.active a {
	background-color: #00809d;
}
#user-login-li.active a:hover {
	color: #fff;
}
#login-block {
	width: 320px;
	position: absolute;
	top: 70px;
	right: 10px;
	display: none;
}
#login-block .form-input {
	background-color: #00809d;
	padding: 20px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #fff;
}
#login-block .form-input h2 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
#login-block .form-input label {
	font-weight: 200;
}
#login-block .form-input input[type="text"],
#login-block .form-input input[type="password"]{
	border-radius: 0;
	padding: 5px 6px;
	font-size: 13px;
	height: auto;
}
#login-block form {
	background-color: #eee;
	text-align: center;
}
#login-block form button {
	margin: 20px auto 10px;
}
.login_form_logout {
	color: #fff;
}
.login_form_logout:hover {
	color: #fff;
}
.forgot_link {
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 18px;
}


/* BANNER AND SLIDER */
.banner-slider {
	background: url('../../assets/images/banner-bg.jpg') no-repeat center;
	height: 462px;
}
#info-section {
	height: 462px;
	color: #fff;	
}
#info-section .free-trial-subscription {
	font-family: 'Gotham-Bold', 'Exo 2', sans-serif;
	font-size: 35px;
	font-weight: 800;
	line-height: 100%;
	margin-top: 80px;
}
#info-section .free-trial-subscription span.highlight {
	color: #88e7ff;
}
#info-section p {
	font-size: 17px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#start-freetrial {
	font-family: 'Gotham-Light', 'Source Sans Pro', sans-serif;
	text-transform: none;
	font-size: 14px !important;
	border-radius: 20px;
}
#start-freetrial span {
	font-style: italic;
}

#slider-section {
	background: transparent url('../../assets/images/imac-slider.png') no-repeat center;
	background-position-y: 40px;
	height: 462px;
}
.slider-wrapper {
	width: 497px;
	margin: 58px auto auto;
}
.slider-wrapper .nivoSlider {
	height: 286px;
}


.btn {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 0;
}
.btn-lg {
	font-size: 20px !important;
}
.btn-md {
	font-size: 13px !important;
}
.btn {
	border-radius: 21px;
	font-size: 16px;
}
.btn-primary.cyan {
	background-color: #12b6df;
	border-color: #088bb5;
}
.btn-primary.cyan:hover {
	background-color: #37bcdd;
	border-color: #0aa0d0;
}
.btn-warning.orange {
	background-color: #ff984c;
	border-color: #d97c38;
}
.btn-warning.orange:hover {
	background-color: #ff9e56;
	border-color: #fb9041;
}
.btn-danger.red {
	background-color: #ff5c5c;
	border-color: #e54242;
}
.btn-danger.red:hover {
	background-color: #fd6666;
	border-color: #e54c4c;
}



/* FUNCTIONALITY SECTION */
.functionality {
}
.functionality .cols-3-inner {
	background-color: #f9f9f9;
	background-position: 210px 80px;
	border-radius: 15px;
	
	height: 300px;
	padding: 20px 30px;
	margin: 50px 0px 60px;
}
.cols-3-inner div[class*="col-sm"] {
	padding-left: 0px;
}
.col-1 {
	background: transparent url('../../assets/images/compose-icon.png') no-repeat;
}
.col-2 {
	background: transparent url('../../assets/images/schedule-icon.png') no-repeat;
}
.col-3 {
	background: transparent url('../../assets/images/go-away-icon.png') no-repeat;
}
.functionality h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
	color: #5a5a5a;
	margin-bottom: 30px;
}
.functionality p {
	font-size: 15px;
	color: #5a5a5a;
	padding-bottom: 25px;
}


/* SSL SECURED */
.ssl-secured {
	padding-top: 30px;
}
.ssl-secured h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;
	color: #5a5a5a;
	margin-bottom: 30px;
}
.ssl-secured p {
	font-size: 15px;
	color: #5a5a5a;
	padding-bottom: 25px;
}
.ssl-logo {
	margin: auto 20px;
}


/* SUBSCRIPTION */
.subscription {
	padding: 50px 0 70px;
	text-align: center;
}
.subscription p {
	color: #fff;
	font-size: 18px;
}


/* FOOTER */
.footer {
	padding: 50px 0;
}
.footer a, .footer p {
	font-size: 14px;
	color: #fff;
}
.footer .links {
	text-align: left;
}
.footer .links a {
	margin: 5px;
}
.footer .copy {
	text-align: right;
}




/* FEATURES PAGE */
.subscription-title {
	font-family: 'Gotham', 'Exo 2', sans-serif;
	font-weight: 800;
	font-size: 24px;
}
.features {
	padding: 30px 0 100px;
}
.features .container {
	width: 750px;
}
.features .intro {
	/*font-family: proxima-nova;*/
	color: #fff;/*#5a5a5a*/
	text-align: center;
}
.features .intro p {
	font-family: "Century Gothic";
	font-size: 14px;
	padding-top: 30px;
}
.features h2.info {
	/*font-family: proxima-thin;*/
	font-family: "Century Gothic";
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	padding-top: 20px;
	padding-bottom: 50px;
	color: #fff;/*#5a5a5a*/
}
.features h2.info span {
	font-weight: 800;
	text-transform: uppercase;
}
.features h2.info em {
	font-size: 16px;
}
.feat-box {
	background-color: #fff;
	margin-bottom: -20px;
}
.feat-box .feat-header {
	text-align: center;
	height: 76px;
	padding-top: 10px;
}
.feat-box .feat-header .features-title {
	/*padding-top: 15px;*/
	font-weight: 600;
	/*color: #808080;*/
}
.feat-box .feat-header h2 {
	font-family: 'Gotham', 'Exo 2', sans-serif;
	font-weight: 800;
	font-size: 22px;
	margin-bottom: 0px;
}
.feat-box .feat-header p {
	font-size: 14px;
}
.feat-box .feat-header .price {
	font-weight: 800;
	font-size: 20px;
}
.feat-box .feat-content {
	padding: 10px;
}
.features-list {
	list-style: none;
	color: #808080;
	padding-left: 0;

	margin-bottom: 50px;
}
.features-list li {
	height: 60px;
	font-size: 15px;
	font-weight: 600;

	text-align: center;
}
.features-list li.list-spacer {
	height: 20px;
}
.features-list li span.feat-regbtn-info {
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
}
.features-list.selection {
	padding-left: 0;
}
.features-list.selection li {
	text-align: center;
}
.features-list.selection li span {
	font-size: 12px;
	font-weight: 400;
}
.features-list span.feat {
	display: block;
	font-weight: 600;
}
.features-list span.feat-desc {
	font-size: 11px;
	font-weight: 200;
	display: block;
	padding-left: 10px;
}
.features-list .glyphicon {
	color: #7ac143;
}

.feat-box.col-sm-12 {
	background-color: #333;
	margin-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.feat-box.col-sm-12.features_list {
	background-color: #fff;
	margin-top: 0 !important;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.feat-box.col-sm-6 {
	border-bottom-left-radius: 10px;
}
.feat-box.col-sm-3:last-child {
	border-bottom-right-radius: 10px;
}




/* REGISTRATION PAGE */
#registration_form label.invalid-pass {
	color: #ff5c5c;
}
.registration {
	padding: 40px 10px 50px;
}

.fb_registration p.head_info {
	font-weight: 200;
}
.fb_reg_btn {
	width: 70%;
	margin-top: 50px;
}
.form_registration h3 {
}



/* BILLING PAGE */
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #12b6df;
	border-color: #12b6df;
}
.billing-section {
	min-height: 400px;
}
.billing-section h3 {
	margin-top: 0;
}
.billing-section h3 i.glyphicon {
	top: 4px;
	/*color: #12b6df;*/
}
.billing-section .new-support,
.billing-section .payment-method {
	padding: 15px;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #4c4c4c;
}
.billing-section .payment-method .paypal_buttons {
	display: none;
}
.billing-section .payment-method .paypal_buttons#mon1 {
	display: block;
}
.billing-section .support-ticket,
.billing-section .payment-history,
.billing-section .paypal {
	margin-top: 50px;
}
.billing-section .support-ticket h4,
.billing-section .payment-history h4,
.billing-section .paypal h4 {
	font-size: 25px;
	margin-bottom: 20px;
}
.billing-section .support-ticket h4 i.glyphicon,
.billing-section .payment-history h4 i.glyphicon,
.billing-section .paypal h4 i.glyphicon {
	font-size: 18px;
}
.billing-section .payment-history table {
	font-size: 15px;
}
.billing-section .support-ticket h3 {
	font-size: 20px;
	margin-top: 30px;
}
.billing-section .paypal h4 span {
	display: inline-block;
	padding-left: 50px;
	margin-top: 8px;
}
.billing-section .paypal h4 .icon-paypal {
	display: inline-block;
	position: absolute;
	background: url('../../assets/images/paypal.png') no-repeat;
	background-size: cover;
	width: 43px;
	height: 40px;
}
.billing-section .paypal p {
	font-weight: bold;
}
.billing-section .paypal .form-horizontal .control-label {
	/*padding-left: 0;
	padding-right: 0;*/
}
.billing-section .paypal .form-horizontal .paynow_btn {
	width: 107px;
	height: 26px;
	background: transparent url(https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif) no-repeat;
	border: none;
	text-indent: -99999px;
}
.billing-section .account h4 {
	margin-left: 15px;
	margin-top: 50px;
	background: #f5f5f5;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 1px solid #e5e5e5;
}
.billing-section .account ul li 
{
	font-size: 14px;
	padding: 15px 0 0;
	color: #555555;
}
.billing-section .account form {
	margin-left: 30px;
}
.billing-section .new-support .form-control,
.billing-section .account .form-control {
	background: transparent;
	border: 0;
	border-bottom: 1px dashed #e5e5e5;
}

.billing-section .new-support .form-control {
	background-color: #ffffff;
	margin: 5px 0;
}
.billing-section .new-support label {
	font-weight: normal;
}
.billing-section a.btn-success.top,
.billing-section a.btn-primary.top {
	padding: 15px 20px;
	border-radius: 4px;
}
.billing-section .account button,
.billing-section .new-support button {
	margin: 5px auto;
	width: 100%;
	border-radius: 4px;
	padding: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.billing-section .support-ticket .ticket_head {
	margin-bottom: 20px;
}
.billing-section .support-ticket .ticket_head a.ticket_subject {
	font-size: 16px;
	text-decoration: none;	
}
.billing-section .support-ticket a#close_ticket {
	color: #a5a5a5;
	text-decoration: none;
}
.billing-section .support-ticket a#close_ticket:hover {
	color: #428bca;
}
.billing-section .support-ticket .ticket_body h4 {
	font-size: 20px;
	color: #a5a5a5;
}
.billing-section .support-ticket .ticket_body .ticket_messages {
	margin-top: 50px;
}
.billing-section .support-ticket .ticket_body .ticket_messages .ticket_message_details {
	clear: both;
	min-height: 200px;
	border-top: 1px solid #c3c3c3;
	padding-top: 20px;
	padding-bottom: 20px;
}
.billing-section .support-ticket .ticket_body .ticket_messages .ticket_message_details:first-child {
	border-top: none;
}
.billing-section .support-ticket .ticket_body .ticket_messages .ticket_message_details .datetime {
	color: #a5a5a5;
	padding-bottom: 50px;
}
.billing-section .support-ticket ul.tickets li {
	padding: 20px;
	background: #f5f5f5;
	margin-bottom: 5px;
	position: relative;
}
.billing-section .support-ticket ul.tickets li.new-reply {
	background: #ddffdd;
}
.billing-section .support-ticket ul.tickets li.new-reply:hover {
	background: #eeffee;
}
.billing-section .support-ticket ul.tickets li a#close_ticket {
	position: absolute;
	color: #e3e3e3;
	font-size: 20px;
	right: 10px;
	top: 10px;
}
.billing-section .support-ticket ul.tickets li a#close_ticket:hover {
	color: #428bca;
}
.billing-section .support-ticket ul.tickets li:hover {
	background: #f7f7f7;
}
.billing-section .support-ticket ul.tickets li a {
	margin-bottom: 8px;
	display: inline-block;
}
.billing-section .support-ticket ul.tickets li a:hover {
	text-decoration: none;
}
.billing-section .support-ticket ul.tickets li span {
	color: #818283;
}


.thank-you {
	padding: 50px 10% 150px;
}
.thank-you h1 {

}
.thank-you h3 {
	text-transform: uppercase;
}
.thank-you p {
	
}
.thank-you a.btn {
	border-radius: 4px;
	font-size: 16px !important;
	font-family: "Helvetica Neue", Helvetica, Arial;
	padding: 15px 30px;
	margin-top: 50px;
}

@media (max-width: 767px) {
	.banner-slider {
		background-repeat: repeat !important;
		height: auto !important;
	}
}