        /* @license
     * MyFonts Webfont Build ID 2547218, 2013-05-03T14:29:01-0400
     * 
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are 
     * explicitly restricted from using the Licensed Webfonts(s).
     * 
     * You may obtain a valid license at the URLs below.
     * 
     * Webfont: Proxima Nova Thin by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/thin/
     * 
     * Webfont: Proxima Nova Cond Semibold by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/cond-semibold/
     * 
     * Webfont: Proxima Nova ExtraCond Semibold by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/ex-cn-semibold/
     * 
     * Webfont: Proxima Nova ExtraCond Thin by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/ex-cn-thin/
     * 
     * Webfont: Proxima Nova Light by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/light/
     * 
     * Webfont: Proxima Nova Cond Regular by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/cond-regular/
     * 
     * Webfont: Proxima Nova Semibold by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
     * 
     * Webfont: Proxima Nova Regular by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
     * 
     * Webfont: Proxima Nova ExtraCond Regular by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/ex-cn-regular/
     * 
     * Webfont: Proxima Nova Bold by Mark Simonson
     * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
     * 
     * 
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=2547218
     * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
     * 
     * © 2013 MyFonts Inc
     
     License: 5,000,000 Views / Month
    */

    @font-face {
      font-family: 'proxima-thin';
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.eot');
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.eot#iefix') format('embedded-opentype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.woff') format('woff'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.ttf') format('truetype'),
           url('//webappassets.s3.amazonaws.com/font/26DE12_0_01.svg#proxima-thin') format('svg');
    }

    @font-face {
      font-family: 'proxima-light';
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_4_0.eot');
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_4_0.eot#iefix') format('embedded-opentype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_4_0.woff') format('woff'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_4_0.ttf') format('truetype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_4_0.svg#proxima-light') format('svg');
    }
    @font-face {
      font-family: 'proxima-semi';
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_6_0.eot');
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_6_0.eot#iefix') format('embedded-opentype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_6_0.woff') format('woff'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_6_0.ttf') format('truetype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_6_0.svg#proxima-semi') format('svg');
    }

    @font-face {
      font-family: 'proxima-nova';
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.eot');
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.eot#iefix') format('embedded-opentype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.woff') format('woff'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.ttf') format('truetype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.svg#proxima-nova') format('svg');
    }

    @font-face {
      font-family: 'proxima-bold';
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.eot');
        src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.eot#iefix') format('embedded-opentype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.woff') format('woff'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.ttf') format('truetype'),
           url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.svg#proxima-bold') format('svg');
    }

