$bgcolor: #089546;

.navbar {
	&.navbar-inverse {
		background-color: $bgcolor;
	}

	.navbar-brand {
		padding: 5px 20px;

		> img {
			height: 35px;
		}
	}
}

.sidebar {
	.navigation {
		> li {
			&.active {
				> a {
					background-color: $bgcolor;
				}
			}
		}
	}
}

@media only screen and (max-width : 768px) {
	.page-header-content {
		padding: 0;

		.page-title {
			padding-left: 20px;
		}
	}
}
