.fade-transition {
    transition: all 0.8s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;

    &#loading_bg, .page-container {
        /* Delay for showing the content after the loader has been hidden */
        transition-delay: 0.8s;
    }
}

.fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
}


#loading_bg {
    z-index:1001;
    position: fixed;
    background-color: #089546;
    // transition: all 1s ease;

    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;

    #loader_logo {
        position: absolute;
        width: 294px;
        height: 62px;
        top:50%;
        left:50%;
        margin-top:-31px;
        margin-left: -147px;
    }

    #loader_text {
        position: absolute;
        width: 180px;
        height: 53px;
        top:50%;
        left:50%;
        margin-top:55px;
        margin-left: -90px;
        text-align: center;
        color: #3a3a3a;
        font-size: 25px;
        font-weight: 100;
    }
}