// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "preloader";

.fade-transition {
	transition: all .5s ease;
}

@import "header";
@import "login";
@import "errors";
@import "sidebar";
@import "iframe";
@import "report-attributes";



@media only screen and (max-width : 768px) {
	.content-wrapper {
		.content {
			padding: 0 0 60px 0;

			.footer {
				text-align: center;
				width: 100%;
			}
		}
	}
}
