@charset "utf-8";
@font-face {
    font-family: 'Gotham-Bold';
    src: url('Gotham-Bold.ttf');
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('Gotham-Medium.ttf');
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('Gotham-Light.ttf');
}