@charset "utf-8";

@font-face {
	font-family: 'proxima-thin';
		src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.eot');
		src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.eot#iefix') format('embedded-opentype'),
			 url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.woff') format('woff'),
			 url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_0_01.ttf') format('truetype'),
			 url('//webappassets.s3.amazonaws.com/font/26DE12_0_01.svg#proxima-thin') format('svg');
}

@font-face {
  font-family: 'proxima-nova';
    src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.eot');
    src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.eot#iefix') format('embedded-opentype'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.woff') format('woff'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.ttf') format('truetype'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_7_0.svg#proxima-nova') format('svg');
}

@font-face {
  font-family: 'proxima-bold';
    src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.eot');
    src: url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.eot#iefix') format('embedded-opentype'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.woff') format('woff'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.ttf') format('truetype'),
       url('//webappassets.s3.amazonaws.com/font/proxima/26DE12_9_0.svg#proxima-bold') format('svg');
}