* {
	transition: all ease-in-out .25s;
	letter-spacing: .8px;
}
.main-container {
	padding: 15px;
	margin-top: 50px;
	@media all and (max-width: 480px) {
		padding: 0;
	}
}
a {
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}


.image-container {
	width: 100%;
	position: relative;

	img {
		max-width: 350px;

		&.productImg {
			max-width: 281px;
			max-height: 281px;
		}
	}
}


.no-border {
	border: none !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-padding { 
	padding: 0 !important;
}
.no-margin {
	margin: 0;
}
.margin-right {
	margin-right: 15px;
}
.margin-left {
	margin-left: 15px;
}
.margin-top {
	margin-top: 15px;
}
.margin-bottom {
	margin-bottom: 15px;
}