.breadcrumb {
	@media all and (max-width: 768px) {
		display: none;
	}
	float: right;
	margin: 0;
	margin-left: 15px;
	padding: 0;
	background: transparent;
	li {
		font-size: 10px;
		a {
			color: #999;
		}
	}
}
