.btn {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
	padding: 10px 15px;
}
.shop-btn{
	padding: 5px 10px;
	margin: 0 auto;
	display: block;
	background-color: transparent;
	color: #333;
	border: none;
	&:hover{
		background-color: transparent;
		color: #0a272d;
	}
}
