
.ui-icon {
    font-family: '#{$simple-line-font-family}';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

	&.ui-icon-circle-triangle-w:before {
		content: "\e605";
	}
	&.ui-icon-circle-triangle-e:before {	
		content: "\e606";
	}
}

.ui-button {
    &.fc-prev-button, &.fc-next-button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    &.ui-state-disabled {
        color: #aaa;
    }
}


.fc-today {
    &.ui-state-highlight {
        background-color: #fff8e3;
    }
}

.fc-head {
    .fc-head-container {
        border-bottom: none;

        table {
            thead {
                tr {
                    th {
                        &.fc-day-header {
                            padding: 10px;
                            border-color: #333;
                        }
                    }
                }
            }
        }
    }
}

.ui-widget-content {
    border-color: #ddd;
}

.fc-event-container {
    .fc-event {
        border-radius: 0;
        cursor: pointer;
    }
}
