.shop-cart {

	> a {
		#cart-loaded {
			position: absolute;
			right: 3px;
			top: 2px;
			font-size: 10px;
			text-align: center;
			background-color: red;
			color: white;
			line-height: 1;
			min-width: 18px;
			min-height: 18px;
			padding: 4px;
			border-radius: 9px;
		}
	}
}
