.centered-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	.centered-panel {
		@media all and (min-width: 768px) {
			min-width: 480px;
			.panel-body {
				// max-height: none;
			}
		}
		min-width: 320px;

		&.notification-modal {
			@media all and (min-width: 768px) {
				min-width: 400px;
			}

			min-width: 290px;

			.panel-heading {
				font-size: 16px;
				padding-bottom: 10px;
			}
			.panel-body {
				font-size: 13px;
			}
		}

		.help-block {
			color: $brand-danger;
			font-family: "Montserrat", sans-serif;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
}
.remember-me {
	padding-top: 12px;
}
