.checkout-left {
	p {
		margin-bottom: 25px;
	    font-size: 13px;
	}
}
.item-list {
	display: block;
	padding-left: 0;
	li {
		padding-bottom: 10px;

		&.large-margin-top {
			margin-top: 15px;
		}
		&.extra-large-margin-top {
			margin-top: 30px;
		}

		&.line-separator {
			padding: 5px 0px 10px 10px;
			border-bottom: 1px solid rgba(50,50,50,.1);
		}
	}
}

.no-overflow {
	overflow: visible !important;
}
.no-max-height {
	max-height: 100% !important;
}