.message-board-dashboard {
	.notification-item {
		.notification-hour, p {
			font-family: $font-family-base;
			font-size: 13px;
		}
	}
}
.events-dashboard, .notification-dashboard {
	.notification-item {
		.notification-hour, p {
		    font-family: $font-family-base;
		    font-size: 13px;
		}
		h5 {
			margin-bottom: 0;
		}
		h6 {
			font-family: $font-family-base;
			font-weight: 200;
			font-size: 13px;
			margin-top: 0;

			> span {
				text-decoration: underline;
			}
		}
	}
}