.form-horizontal {
	.form-group {
		margin-left: 0;
		margin-right: 0;
	}
}

.form-group {
	margin-left: 0;
	margin-right: 0;
	label {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1px;
		margin-bottom: 5px;
	}
}

.form-control {
	background: #eee;
	border: none;
	letter-spacing: 1px;
	height: 44px;
	
	&.inline-edit {
		padding: 0;
		background-color: transparent;
		border: none;
		// border-bottom: 1px solid rgba(50, 50, 50, 0.1);
	    height: auto;
	    box-shadow: none;
	}
}
select {
	&.form-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;

		background-image: url(../images/select-arrow-down-dark.png);
	    background-repeat: no-repeat;
	    background-position: right;
	    background-size: 42px 37px;
	}
}

.input-group {
	&.search-group {
		.input-group-btn.clearer {
		    width: 0;
		    letter-spacing: 0;
		    border: none;
		    padding: 0;

		    > a {
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    }
		}
	}
}


.inputForm {
	&.invalid { 
		&.touched {
			// box-shadow: 0px 0px 5px rgba(255,0,0,0.5);
			border: 1px solid red;
		}
	}
}