.text-sm {
	font-size: 11px;
}
.text-underline {
	text-decoration: underline;
}
.text-green {
	color: green;
}
.text-red {
	color: red;
}
.text-white {
	color: white;
}

.text-gray {
	color: #999;
}

.inline-action {
	list-style: none;
    padding-left: 0;
    
	li {
		display: inline-block;

		a {
			display: block;
		    padding-top: 25px;
		}
	}
}