.message-post {
	h5 {
		font-family: $font-family-base;
		font-weight: 200;
		font-size: 13px;
	}
}

.small-icon {
	font-size: 11px;
    vertical-align: text-top;

}

.text-red {
	color: #F00;
}

.message-board-list {
	table {
		tbody {
			tr {
				.post-actions {
					display: none;
					transition: all ease-in-out .25s;
					margin: 0;
					padding: 0;
				}
				&:hover {
					.post-actions {
						display: inline-block;
					}
				}
			}
		}
	}
}