.navbar-default {
	margin-bottom: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
	#sidebar-toggle-button {
		color: $brand-primary;
		text-decoration: none;
		&:hover {
			color: $brand-secondary;
		}
	}
	.navbar-header {
		.navbar-brand {
			padding: 15px;
			font-family: "Montserrat", sans-serif;
			font-size: 20px;
		}
		.navbar-toggle {
			background: $brand-primary;
			border: none;
			float: left;
			padding: 18px;
			margin: 0;
		}
		.c-menu-button {
			background: transparent;
			color: $brand-secondary;
			padding: 14px 18px;
		}
	}
	.navbar-nav {
		li {
			a {
				font-family: "Montserrat", sans-serif;
				font-size: 16px;
			}
		}
	}
}
.navbar {
	&.navbar-fixed-top {
		margin-bottom: 0;
		border-width: 0;
	}
}
.dropdown-menu {
	> li {
		> a {
			font-family: "Open Sans", sans-serif !important;
			font-size: 14px !important;
			font-weight: 300;
		}
	}
}
