.notification-item {
	border-bottom: 1px solid #f8f8f8;
	cursor: pointer;
	margin-bottom: 15px;
	transition: all ease-in-out .1s;

	// 
    padding-left: 19px;
    border-left: 1px solid #f8f8f8;
	
	.notification-hour {
		color: #999;
		display: block;
		font-size: 14px;
		padding-top: 10px;
	}
	p {
		color: #999;
	}
	&:hover {
		border-left: 5px solid $brand-primary;
		padding-left: 15px;
	}
}
