.panel {
	border: none;
	padding: 20px;
	@media all and (max-width: 480px) {
		padding: 15px;
	}
	.panel-heading {
		border-bottom: 1px solid #eee;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		padding: 0 0 15px 0;
		.close-button {
			color: $brand-danger;
		}
		.panel-close {
			text-decoration: none;
			display: block;
			-ms-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
	}
	.panel-body {
		max-height: 400px;
		overflow: auto;
		padding: 15px 0 0 0;
		ul{
			display:inline;
		}
		ul li{
			list-style: none;
		}
		.display-flex{
			display: flex;
		}

		&.no-max-height {
			max-height: 100%;
		}
	}
	.panel-profile{
		overflow: visible;
		max-height:none;
	}
	&.toggled {
		.panel-body {
			height: 0;
			overflow: none;
			padding: 0;
		}
		.panel-heading {
			border: none;
			padding-bottom: 0;
			.panel-close {
				display: block;
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}
	}
	&.no-pad {
		padding: 0;
		.panel-body{
			padding: 0;
		}
	}
	&.auto-height {
		.panel-body {
			max-height: none;
		}
	}
}
