.user-image {
	border-radius: 100%;
	overflow: hidden;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	img {
		height: 100%;
	}
	
	position: relative;
	#upload-photo {
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -20px;
	    margin-top: -30px;

        font-size: 50px;
	    color: lightgray;

	    opacity: 0;
	    transition: all 0.2s linear;
	}


    &:hover {
    	#upload-photo {
	    	opacity: 1;
	    }
    }
}
.user-status {
	background: $brand-success;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	padding: 5px 10px;
}
.user-add-info {
	border-top: 1px solid #eee;
	color: #999;
	font-size: 14px;
	padding: 15px 15px 5px 15px;
	text-align: center;
	.user-add-info-item {
		color: #333;
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
	}
}
.user-basic-info {
	padding: 15px 0;
	.user-name {
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		letter-spacing: 1px;
		text-align: center;
	}
	.user-email {
		color: #999;
		font-size: 14px;
	}
}
.info-list {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		padding: 5px;
		font-weight: 400;
		.info-meta {
			color: #999;
			display: block;
			font-size: 14px;
		}
	}
}
