.shop-item{
    .shop-item-content{
        padding: 20px 20px 0;
        min-height:270px;
    }
    background-color: #fff;
    height: auto;
    margin: 10px 0px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    .pull-left{
        max-width: 100px;

        h5 {
            min-height: 35px;
        }
    }
    p{
        color: #0a272d;
    }
    img{
        width: 150px;
        // height: 150px;
        margin: 0 auto;
        display: block;
        @media all and (min-width: 320px) {
            width: 100%;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
}
