$side-nav-width: 100px;

.side-nav-container {
	background: darken($brand-primary, 10%);
	background: $brand-primary;
	bottom: 0;
	left: 0;
	position: fixed;
	top:0;
	width: $side-nav-width;
	z-index: 1000;
	.side-nav {
		.side-nav-brand {
			background: darken($brand-primary, 10%);
			background: $brand-primary;
			border-bottom: 1px solid darken($brand-primary, 10%);
			padding: 15px;
			.side-nav-logo {
				width: 100%;
				@media all and (max-width: 768px) {
					max-width: 70px;
					display: flex;
					margin: 0 auto;
				}
			}
		}
		.nav-link-container {
			background: darken($brand-primary, 10%);
			background: $brand-primary;
			border-top: 1px solid lighten($brand-primary, 5%);
			list-style-type: none;
			padding-left: 0;
			.sidenav-menu{
				display: block;
				margin-left: 10px;
				text-align: left;
				font-size: 14px;
				font-family: "Montserrat", sans-serif;
				@media all and (min-width: 768px) {
					display: none;
				}
			}
			li {
				text-align: center;
				a {
					color: #fff;
					font-size: 18px;
					display: block;
					@media all and (max-width: 768px) {
						display: flex;
					}
					padding:20px;
					&:hover {
						background: darken($brand-primary, 5%);
						text-decoration: none;
					}
				}
			}
		}
	}
	.tooltip {
		z-index: 1000;
		.tooltip-arrow {
			border-right-color: darken($brand-primary, 5%);
		}
		.tooltip-inner {
			background: darken($brand-primary, 5%);
			border-radius: 0;
			display: block;
			font-family: "Montserrat", sans-serif;
			letter-spacing: 3px;
			max-width: none !important;
			padding: 15px;
			white-space: nowrap;
		}
	}
}
.content-container {
	margin-top: 60px;
	padding-left: $side-nav-width;
	.navbar-with-sidebar {
		margin-left: 100px;
	}
}
