table {
	border: 1px solid #eee;
	tr {
		.price {
			text-align: right;

			&.center {
				text-align: center;
			}
		}

		&.divider {
			td {
				border-top: 1px solid gray;
				border-bottom: 3px double gray;
			}
		}
	}
	thead {
		tr {
			th {
				background: $brand-primary;
				border: none;
				color: $brand-secondary;
				a {
					color: $brand-secondary;
					text-decoration: none;
					&:hover {
						color: darken($brand-secondary, 20%);
					}
				}
				&.action-controls {
					width: 200px;
				}
				&.price {
					text-align: right;
				}
			}
		}
	}
	tbody {
		tr{
			td {
				border: none;
				color:#333;
				.action-control {
					border-radius: 100%;
					background: #eee;
					color: #0a272d;
					display: inline-block;
					height: 30px;
					margin-right: 10px;
					padding: 4px 8px;
					width: 30px;
				}
				a {
					margin: 0 5px;
					text-decoration: none;
					&:hover {
						color: $brand-secondary;
						text-decoration: none;
					}
				}
			}
			&:nth-child(even) {
				td {
					background: #f8f8f8;
				}
			}
			&:nth-child(odd) {
				td {
					background: #fff;
				}
			}

		}
	}
}

.user-profile{
	color: #fff;
}
