.tooltip {
	z-index: 1000;
	.tooltip-arrow {
		border-right-color: darken($brand-primary, 5%);
	}
	.tooltip-inner {
		background: darken($brand-primary, 5%);
		border-radius: 0;
		display: block;
		font-family: "Montserrat", sans-serif;
		font-family: 14px;
		letter-spacing: 3px;
		max-width: none !important;
		padding: 5px;
		white-space: nowrap;
	}
}
