    <div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title">
                        	<a class="btn btn-primary"
                        		 v-link="{
                        			name: 'addcategory'
                        		}"><i class="icon-plus"></i> New</a>
                        </span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
		            <table class="table table-hover">
		                <thead>
		                    <tr>
		                        <th style="width:100px;"></th>
		                        <th>Category Name</a></th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr v-for="category in categories">
		                        <td style="text-align:center">
	                                <a data-toggle="tooltip" data-placement="top" title="Edit Category" 
	                                	v-link="{ 
	                                			name: 'editcategory', 
	                                			params: { id: category.id }
	                                		}">
	                                    <i class="icon-note"></i>
	                                </a>&nbsp;
	                                <a data-toggle="tooltip" data-placement="top" title="Delete Category"
										v-link="{
												name: 'deletecategory',
												params: { id: category.id }
											}" 
	                                	@click="confirmDelete">
	                                    <i class="icon-trash"></i>
	                                </a>&nbsp;
	                            </td>
	                            <td v-text="category.name"></td>
	                        </tr>
	                    </tbody>
	                </table>
                </div>

                <a class="btn btn-primary"
                		 v-link="{
                			name: 'addcategory'
                		}"><i class="icon-plus"></i> New</a>
            </div>
        </div>
    </div>
    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>

    <router-view></router-view>