<div class="mask" transition="fade" v-show="!$root.loading">
    <div class="centered-form-container">
        <div class="panel panel-default centered-panel">
            <div class="panel-heading">
                <span class="clearfix">
                    <span class="pull-left">{{ title }}</span>
                    <span class="pull-right">
                        <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                    </span>
                </span>
            </div>
            <div class="panel-body">
                <validator name="validation">
                <form class="form-horizontal" role="form" method="POST" 
                                v-ajax action="{{ action }}" novalidate>
                    <input type="hidden" name="_method" value="{{ method }}">

                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label>Title*</label>
                            <input type="text" class="form-control inputForm" placeholder="Event Title"
                                        v-validate:title="['required']" 
                                        v-model="fields.title">
                        </div>
                        <div class="form-group">
                            <label>Description*</label>
                            <textarea class="form-control inputForm" placeholder="Description"
                                    v-validate:description="['required']" 
                                    v-model="fields.description">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <select class="form-control inputForm" 
                                        v-model="fields.color"
                                        >
                                <option value="">Select Color</option>
                                <option v-for="color in colors" 
                                    value="{{ color }}">{{ color }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label>Date*</label>
                            <input type="date" class="form-control inputForm"
                                        v-model="fields.date" value="">
                        </div>
                        <div class="form-group">
                            <label>Start Time</label>
                            <input type="time" class="form-control inputForm" 
                                        v-model="fields.start_time">
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <input type="time" class="form-control inputForm" 
                                        v-model="fields.end_time">
                        </div>
                    </div>

                    <br>

                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="requiredField"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                </validator>
            </div>
        </div>
    </div>
</div>

<div class="mask" transition="fade" v-if="$root.loading">
    <div class="text-white" v-html="$root.loading_msg"></div>
</div>

<router-view></router-view>
