
    <div class="mask" transition="fade">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left">Select Action</span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <a href="/{{ module }}/show/{{ moduleId }}" class="btn btn-primary btn-block">View {{ module | snakeToTitle | singularize }}</a>
                        <a class="btn btn-primary btn-block"
                            v-link="{ 
                                    name: routeName, 
                                    params: { 
                                        id: moduleId
                                        } 
                                    }">Edit {{ module | snakeToTitle | singularize }}</a>
                        <a href="/{{ module }}/delete/{{ moduleId }}" class="btn btn-primary btn-block">Delete {{ module | snakeToTitle | singularize }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->