
    <div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left">
                            <h5 v-html="title"></h5>
                        </span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col sm-12 col-xs-12">
                            <p>Status: <strong v-html="status"></strong> &nbsp; 
                                <a href="{{ link }}" class="text-sm"
                                    v-if="admin"><i>(Check Details)</i></a></p>
                            <p>{{ owned }} <strong v-html="requestee"></strong></p>
                            <p>On <strong v-html="subtitle"></strong></p>
                            <br>
                            <p v-html="description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white">Loading...</div>
    </div>

    <router-view></router-view>