
    <div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left" v-html="title"></span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <validator name="validation">
                        <form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                            <input type="hidden" name="_method" value="{{ method }}">
                            <div class="alert alert-warning" transition="fade"
                                v-if="!$validation.valid"
                                >Please complete all required (*) fields</div>

                            <div class="form-group col-sm-6 col-xs-12">
                                <label>Date of Your Reservation*</label>
                                <input type="date" class="form-control inputForm"
                                    v-validate:date="['required']"
                                    v-model="fields.date">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label>Select Room*</label>
                                <select class="form-control inputForm"
                                     v-validate:room="['required','notzero']"
                                     v-model="fields.room_id">
                                        <option value="0">Select A Room</option>
                                        <option v-for="room in rooms" v-bind:value="room.id">
                                            {{ room.name }}
                                        </option>
                                     </select>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label>Time Start*</label>
                                <input type="time" class="form-control inputForm"
                                    v-validate:start-time="['required']"
                                    v-model="fields.start_time">
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <label>Time End*</label>
                                <input type="time" class="form-control inputForm"
                                    v-validate:end-time="['required']"
                                    v-model="fields.end_time">
                            </div>
                            <div class="form-group col-sm-12 col-xs-12">
                                <label>Note</label>
                                <textarea class="form-control" placeholder="Add your additional notes here.."
                                    v-model="fields.note"></textarea>
                            </div>
                            <br>
                            <br>
                            <div class="form-group {{ halfbutton }} col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
                                    <span class="clearfix">
                                        <span class="pull-left">{{ button }}</span>
                                        <span class="pull-right"><i class="icon-check"></i></span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary btn-block" 
                                                    v-if="!$validation.valid" 
                                                    @click="invalidFormEntry"
                                                    >
                                    <span class="clearfix">
                                        <span class="pull-left">{{ button }}</span>
                                        <span class="pull-right"><i class="icon-exclamation"></i></span>
                                    </span>
                                </button>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12" v-if="cancelButton">
                                <a href="#" class="btn btn-primary btn-block">
                                    <span class="clearfix">
                                        <span class="pull-left">Cancel</span>
                                        <span class="pull-right"><i class="icon-close"></i></span>
                                    </span>
                                </a>
                            </div>
                            <div class="alert alert-warning col-sm-12 col-xs-12" v-if="cancelButton">
                                <i class="text-red text-sm"><strong>NOTE</strong>: <br>Before you decide to change your reservation. Please be mindful to notice. <br>This reservation will be cancelled upon updating to give way for others to reserve this schedule.</i>
                            </div>
                        </form>
                    </validator>
                </div>
            </div>
        </div>
    </div>
    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white">Loading...</div>
    </div>

    <router-view></router-view>