
    <div class="mask" transition="fade" v-show="!$root.loading">
        <div class="centered-form-container">
            <div class="panel panel-default centered-panel">
                <div class="panel-heading">
                    <span class="clearfix">
                        <span class="pull-left">{{ title }}</span>
                        <span class="pull-right">
                            <a href="#" class="close-button"><i class="icon-close" aria-hidden="true"></i></a>
                        </span>
                    </span>
                </div>
                <div class="panel-body">
                    <validator name="validation">
                    <form class="form-horizontal" role="form" method="POST" v-ajax action="{{ action }}">
                        <input type="hidden" name="_method" value="{{ method }}">

                        <div class="form-group">
                            <label>Room Name <span class="text-red">*</span></label>
                            <input type="text" class="form-control inputForm"
                                 v-validate:room-name="['required']"
                                 v-model="fields.name" value="">
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" v-if="$validation.valid">
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-primary btn-block" 
                                                v-if="!$validation.valid" 
                                                @click="requiredField"
                                                >
                                <span class="clearfix">
                                    <span class="pull-left">{{ button }}</span>
                                    <span class="pull-right"><i class="icon-check"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                    </validator>
                </div>
            </div>
        </div>
    </div>

    <div class="mask" transition="fade" v-if="$root.loading">
        <div class="text-white" v-html="$root.loading_msg"></div>
    </div>
    
    <router-view></router-view>