<template>
    <div class="row" v-show="dashboard">
        <div class="alert alert-info" v-if="empty_attributes">
            To add reports to your dashboard, first choose a category from the navigation
        </div>

        <div class="panel panel-flat" v-for="attribute in attributes" transition="fade">
            <div class="panel-heading">
                <h5 class="panel-title">
                    {{ attribute.title }}
                    <div class="pull-right">
                        <ul class="icons-list">
                            <li><a data-action="close" @click="removeReport( attribute.id )"></a></li>
                        </ul>
                    </div>
                </h5>
                <p v-html="attribute.sub_title" class="report-subtitle"></p>
            </div>

            <div class="container-fluid">
                <div class="row text-center">
                    <iframe frameborder="0" class="col-sm-12" height="{{ ifHeight }}" width="100%"
                            data-id="iframe_{{ attribute.id }}"
                                id="iframe_{{ attribute.id }}"
                                name="iframe_{{ attribute.id }}"
                            v-bind:src="attribute.params"
                            v-if="attribute.params"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import iFrameAttributes from '../mixins/iFrameAttributes.js'

    export default {
        mixins: [iFrameAttributes],
        data() {
            return {
                dashboard: false,
            };
        },

        created() {
            this.dashboard = this.$root.$data.access;
        },

        ready() {

        },
    };
</script>
