<template>
	<div>&nbsp;</div>
</template>

<script>
    export default {
        data() {
            return {
                dashboard: false
            };
        },

        ready() {
        	this.$root.login = true;
        },
    }
</script>
