<template>
    <form class="form-validate" role="form" method="POST" v-ajax-uni action="{{ action }}">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <h4>Request Password Reset</h4>
            </div>

            <div class="form-group has-feedback has-feedback-left">
				<input type="text" class="required-field form-control" id="email" name="email" placeholder="your@example.com"
						v-model="fields.email">

                <div class="form-control-feedback">
                    <i class="icon-envelope text-muted"></i>
                </div>
            </div>
        
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Send Password Reset Link</button>

                <span class="help-block success-message" v-show="submit_suc" v-html="submit_msg"></span>
                <span class="help-block error-message" v-show="submit_err" v-html="submit_msg"></span>
            </div>
        </div>

    </form>
</template>

<script>
    export default {
        data() {
            return {
                dashboard: false,
                action: 'forgot-password/email',
                fields: {
                    email: null,
                },
                submit_suc: null,
                submit_err: null,
                submit_msg: null,
            };
        },

        ready() {
        	// don't show the login form
        	this.$root.login = false;
        }
    }
</script>
