<template>
    <form class="form-validate" role="form" method="POST" v-ajax-uni action="{{ action }}" >
        <input type="hidden" name="token" value="{{ fields.token }}">

        <div class="panel panel-body login-form" v-if="!valid_token">
            <div class="form-group">
                <span class="help-block error-message" v-html="valid_msg"></span>
            </div>

            <div class="form-group login-options">
                <div class="row">
                    <div class="col-sm-6">&nbsp;</div>
                    <div class="col-sm-6 text-right">
                        <a v-link="{ name: 'forgotpass' }">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-body login-form" v-if="valid_token">
            <div class="text-center">
                <h4>Reset Password</h4>
            </div>

            <div class="form-group has-feedback has-feedback-left" v-if="!submit_suc">
                <input type="email" placeholder="your@example.com" disabled class="required-field form-control"
                		v-model="fields.email">
                <div class="form-control-feedback">
                    <i class="icon-envelope text-muted"></i>
                </div>

            </div>

            <div class="form-group has-feedback has-feedback-left" v-if="!submit_suc">
                <input type="password" placeholder="Password" class="required-field form-control"
                		v-model="fields.password"
                        @blur="matchPassword">

                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>

            </div>

            <div class="form-group has-feedback has-feedback-left" v-if="!submit_suc">
                <input type="password" placeholder="Password Confirmation" class="required-field form-control"
                		v-model="fields.password_confirmation"
                        @blur="matchPassword">
                <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                </div>

            </div>

            <div class="form-group" v-if="!submit_suc">
            	<button type="submit" class="btn btn-success btn-block" 
                            v-if="password_match"
                            >Reset Password*
                    </button>
                <button type="button" class="btn btn-success btn-block"
                            v-if="!password_match"
                            @click="notifyUnMatched"
                            >Reset Password-
                    </button>

                <span class="help-block error-message" v-show="submit_err" v-html="submit_msg"></span>
            </div>

            <div class="form-group" v-if="submit_suc">
	            <span class="help-block success-message" v-html="submit_msg"></span>
            </div>

        </div>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                dashboard: false,
                action: 'forgot-password/reset',
                fields: {
	                token: null,
					email: null,
                    password: '',
                    password_confirmation: '',
                },
                submit_suc: null,
                submit_err: null,
                submit_msg: null,
                valid_token: true,
                valid_msg: null,
                password_match: false,
            };
        },

        ready() {
        	// don't show the login form
        	this.$root.login = false;

        	this.fields.token = this.$route.params.token;
			this.fields.email = this.$route.params.email;

			// There should be AJAX query to check the Token validity
            this.$root.$http.get('validate-token/'+this.fields.token+'/'+this.fields.email , function (response) {
                console.log(response)
                this.valid_token = response.valid;
                this.valid_msg = response.message;
                }.bind(this));
        },

        computed: {
            matchPassword: function () {
                var match = (this.fields.password === this.fields.password_confirmation) ? true : false;
                var valid = (this.fields.password !== '') ? match : false;
                this.password_match = valid;
            },
        },

        methods: {
            notifyUnMatched() {
                alert("Doesn't match password")
            },
        }
    }
</script>
